body {
  font-family: arial;
  background-color: white;
}
h1 {
  border: 1px solid black;
  background-color: #cccccc;
  color: #3399ff;
  text-align: center;
}
table {
  border: 1px solid #99ff99;
  background-color: white;
  color: black;
}
td {
  border:  none;
  text-align: left;
}
p {
  color: #0099ff;
  text-indent: 20px;
}
